<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily blog by Francesco</title>
    <!-- ВАЖНО: public в пути не указываем -->
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a class="logo" title="Diary by Francesco Arhipiani"></a>
            <div class="name">
                <h1 id="name">Francesco</h1>
                <p id="about">Daily blog</p>
            </div>
            <ul class="links">
                <li id="home"><a href="/"> Home</a></li>
                <li id="about"><a href="/about">About</a></li>
                <li id="contact"><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>