<%- include('partials/header') -%>
<section>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="compose">
            <label for="title">Title:</label>
            <input type="text" name="title">
            <label for="post">Post:</label>
            <textarea name="post" cols="30" rows="10"></textarea>
            <button type="submit">Publish</button>
        </div>
    </form>
</section>
<%- include('partials/footer') -%>
